<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Cbv_template</h1>
        <h1>This is CBV HTML page response using Respective TemplateView class </h1>
        <h1>It's done by using a class inherited from TemplateView class </h1>
        <h1>To rendering of html page as response by using TemplateView class which uses template_name variable</h1>
    </center>
</body>
</html>